<main class="main">
  <section class="feed">
    <div class="post-container">
      <div class="vote">
        <button class="upvote"><i class="fas fa-caret-square-up"></i></button>
        <span class="post-vote"></span>
        <button class="downvote"><i class="fas fa-caret-square-down"></i></button>
      </div>
    </div>
  </section>
</main>