<main class="main">
  <section class="feed">
    <div class="post-container">
      <div class="vote">
        <button class="upvote"><i class="fas fa-caret-square-up"></i></button>
        <span class="post-vote"></span>
        <button class="downvote"><i class="fas fa-caret-square-down"></i></button>
      </div>
      <div class="post-content">
        <header class="post-header">
          <span class="post-user"></span>
          <span class="post-publish"></span>
        </header>
        <main class="post-data">
          <div class="post-text"></div>
          <div class="post-media"></div>
        </main>
        <footer class="post-services">
          <a class="post-comment" href="#"><i class="fas fa-comments"></i></a>
        </footer>
      </div>
    </div>
  </section>
</main>